/*Dashboard*/
.dashboard {
  /*width and height of dashboard page*/
  width: 90%;
  height: 90%;
}

/*Home Page*/
#home {
  /*width and height of home page*/
  width: 88%;
  height: 100%;
}

.homepage {
  /*text-align: center; for home page text*/
  text-align: center;
}

/*Main Page*/
h1 {
  /*text-align: center; for titles*/
  text-align: center;
}

iframe {
  /*java-script webpage no border*/
  border:none;
}

.clear {
  /*clear: both;*/
  clear: both;
}

.main {
  /*width: 100%; for main*/
  width: 100%;
}

.top {
  /*border for top div elements*/
  border: black;
  border-width: 1px;
  border-style: double;
  /*padding-top: 1%; for top of page*/
  padding-top: 1%;
  width: auto;
  height: 10%;
}

.left {
  /*border for left div elements*/
  border-right: black;
  border-right-width: 1px;
  border-right-style: double;
  /*padding-left: 999em; for drop down menu*/
  padding-left: .999em;
  padding-top: .999em;
  width: 10%;
  /*float: left;*/
  float: left;
  height: 100%;
}

.right {
  /*float: right;*/
  float: right;
  width: 90%;
}

#dashboard {
  /*height and width of dashboard page*/
  height: 100%;
  width: 100%;
}

/*drop down*/
span {
  /*drop down menu*/
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.dropStyle {
  width: 150px;
  /*text-align: center;*/
  text-align: center;
  background-color: white;
  /*border:none*/
  border: 1px solid #e0e0e0;
  height: 20px;
}