/*Dashboard*/
.dashboard {
  width: 90%;
  height: 90%;
}

#chart-line {
  text-align: left;
}

#chart-area {
  text-align: center;
}

/*Main Page*/
iframe {
  border:none;
}
.clear {
  clear: both;
}

.main {
  width: 100%;
}

.top {
  padding-left: .525em;
  width: auto;
  height: 10%;
}

.left {
  padding-left: .525em;
  width: 10%;
  float: left;
  height: 100%;
}

.right {
  float: right;
  width: 88%;
}

#dashboard {
  height: 100%;
  width: 100%;
}

/* Buttons */
.button-80 {
  width: 170px;
  background: #fff;
  backface-visibility: hidden;
  border-radius: .075rem;
  border-style: solid;
  border-width: .025rem;
  box-sizing: border-box;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: .875rem 1.125rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-80:not(:disabled):hover {
  transform: scale(1.05);
}

.button-80:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.button-80:focus {
  outline: 0 solid transparent;
}

.button-80:focus:before {
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.button-80:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.button-80:focus:not(:focus-visible):before {
  border-width: auto;
}

.button-80:not(:disabled):active {
  transform: translateY(.125rem);
}

h1 {
  text-align: center;
}

/*
drop down
*/
span {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.dropStyle {
  width: 100px;
  /*text-indent: 35px;*/
  padding-left: 6%;
  background-color: white;
  /*border:none*/
  border: 1px solid #e0e0e0;
  height: 20px;
}